<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> ~ fluid</title>


  <%# These allow the mobile site scale properly. I think.
  %>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%# Apparantly we can now ditch the type attributes and some closing tags
      in html5. But not all closing tags.

      Also, because this is the internet, some people <del>are wrong</del>
      disagree in the comments.

      http://html5doctor.com/avoiding-common-html5-mistakes/
  %>

  <!-- jQuery -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 

  <!-- Knockout -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
  <!-- Don't need this /right/ now, but might do soon.
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout-bootstrap/0.2.1/knockout-bootstrap.js"></script>
  -->

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- Custom CSS/JS -->
  <link type="text/css" href="/stylesheets/main.css" rel="stylesheet">  
  <script type="text/javascript" src="/js/enhance.js"></script> 

</head>

<body>

<nav>
  <ul>
    <li><a href="/exercises">Exercise list</a></li>
    <li><a href="/workouts">Workout list</a></li>
    <li><a href="/records">Record list</a></li>
  </ul>
</nav>

<div class="wrapper">
<%= yield %>
</div>

</body>
</html>