<%= erb :"exercise/list" %>

<div id="workout-add">

  <%# Form not required, since this is a JS-only affair %>
  <div id="name">
    <input name="workout_name" type="text" placeholder="Workout Name">
    <input name="scoring_unit" type="text" placeholder="Sec, rnds">
    <textarea name="scoring_description" placeholder="Description / instructions"></textarea>
  </div>

  <div id="workout_exercises">
  Drop zone
  </div>


</div>