/*
 * Designed using the mobile-first responsive design
 * pattern, based on the responsive media query breaks
 * found in 320andup.
 * http://stuffandnonsense.co.uk/projects/320andup/
 *
 * This only works if the following are set in the <head> of the html:
 * <meta name="HandheldFriendly" content="True">
 * <meta name="MobileOptimized" content="320"/>
 * <meta name="viewport" content="width=device-width, initial-scale=1.0">
 *
 * @author Pieter E Sartain
 * @date   20121021
 */
/* This is a kinda imaginary min-width mediaquery
 * Having this set up like this means that by default,
 * sizes that we haven't specified will get the mobile
 * view.
 */
/* @media only screen and (min-width : 320px) */
@import url(https://github.com/necolas/normalize.css/raw/master/normalize.css);
/* http://paletton.com/#uid=42T0u0kgrqo6HHdbpvqlDlarkfu */
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* App */
/* Exercises */
/* Workouts */
/* line 70, ../sass/main.scss */
body {
  padding: 15px;
  margin: 0;
  border: 0;
  background: #ABD9B5;
  /* Header */
}
/* line 77, ../sass/main.scss */
body > nav {
  background: #7ABD89;
}
/* line 79, ../sass/main.scss */
body > nav ul {
  list-style-type: none;
}
/* line 81, ../sass/main.scss */
body > nav ul li {
  display: inline;
  margin: 0 2em 0 2em;
}

/* line 90, ../sass/main.scss */
div.wrapper {
  width: 100%;
  overflow: auto;
}

/* line 95, ../sass/main.scss */
#exercise-list {
  float: left;
  width: 200px;
  position: relative;
  margin-right: -200px;
  background: #FFE4CA;
  padding: 3px;
  /* Header */
}
/* line 105, ../sass/main.scss */
#exercise-list nav h1 {
  margin-top: 0;
  display: inline-block;
  font-size: 2.4rem;
}
/* line 110, ../sass/main.scss */
#exercise-list nav a {
  position: relative;
  top: -5px;
}
/* line 115, ../sass/main.scss */
#exercise-list nav form input[name="exercise_name"] {
  display: block;
}
/* line 121, ../sass/main.scss */
#exercise-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 125, ../sass/main.scss */
#exercise-list ul li {
  border: 1px solid #7B4512;
  background: #FACDA1;
}

/* line 133, ../sass/main.scss */
#workout-add {
  float: left;
  border-left: calc(200px + 1rem) solid #ABD9B5;
}
/* line 137, ../sass/main.scss */
#workout-add div#name {
  width: 100%;
  border: 3px solid #660F3A;
  border-width: 0 0 3px 0;
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
}
/* line 144, ../sass/main.scss */
#workout-add div#name input {
  padding: 3px 3px 1px 5px;
  border: 1px solid #660F3A;
  background: #E4B4CC;
  margin-bottom: 1rem;
}
/* line 151, ../sass/main.scss */
#workout-add div#name input[name="workout_name"] {
  width: 64%;
  min-width: 200px;
}
/* line 156, ../sass/main.scss */
#workout-add div#name input[name="scoring_unit"] {
  width: 35%;
}
/* line 161, ../sass/main.scss */
#workout-add textarea {
  width: 100%;
  border: 1px solid #660F3A;
  background: #E4B4CC;
}
/* line 167, ../sass/main.scss */
#workout-add div#workout_exercises {
  width: 100%;
  background-color: #FACDA1;
  border: 1px solid #7B4512;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 250px;
  padding: 3px;
}

@media only screen and (min-width: 768px) {
  /* Styles */
}
@media only screen and (min-width: 1382px) {
  /* Styles */
}
