<div id="exercise-list">

  <nav>
    <h1>Exercises</h1>

<a href="#" tabindex="0" class="btn btn-default btn-xs" data-toggle="popover" data-trigger="focus" title="Add exercise" 
data-content='
<form action="/api/exercises" method="post">
  <input name="exercise_name" type="text" placeholder="Exercise name">
  (<input type="exercise_unit" type="text" placeholder="Unit (kg, sec, min)">)
  <input type="submit" value="Create" data-ajax-submit="add-exercise">
</form>'>+</a>

  </nav>

<%= erb :"exercise/list" %>

</div>
